@font-face {
    font-family: 'bebasneue';
    src: url('@/assets/fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'cormorant';
    src: url('@/assets/fonts/Cormorant_SC/CormorantSC-SemiBold.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/assets/fonts/Inter/InterVariable.ttf');
}

@font-face {
    font-family: 'ibmplexmono';
    src: url('@/assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
}